<div>
    <%= case elem(@prompt, 0) do %>
        <%= :image ->  %> <img src="<%= elem(@prompt, 2) %>"/>
            <%= :text ->  %> <h3><%= elem(@prompt, 2) %></h3>
    <% end %>
    <h5><%= elem(@prompt, 1) %></h5>
</div>
